[submodule "python"]
	path = python
	url = https://github.com/HernanArango/retipy-python
[submodule "rest"]
	path = rest
	url = https://github.com/HernanArango/retipy-rest
[submodule "react"]
	path = react
	url = https://github.com/HernanArango/retipy-react
