[submodule "python"]
	path = python
	url = git@github.com:HernanArango/retipy-rest.git
[submodule "react"]
	path = react
	url = git@github.com:HernanArango/retipy-react.git
[submodule "rest"]
	path = rest
	url = git@github.com:HernanArango/retipy-rest.git
